.navbar {
    box-shadow: 2px 2px 5px #000;
    opacity: .9;
    background-color: #FF2E2E;
}

.navbar .nav-item .nav-link {
    color: #000;
    padding: auto;
}

.main-header {
    position: relative; 
}

.footer {
    background: #FF2E2E;
}

.team {
    background: #000;
}

.border {
    background-color: #ccc;
    color: #FF2E2E;
}

.border-secondary {
    background-color: #FF2E2E;
    color: #ccc;
}

.body {
    background-color: #000;
}

#contact {
    align: center; 
    background-color: #FF2E2E;
    color: white;
}
